

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #00ffc3;
}

*::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
    border: 2px solid #ffffff;
}